 <body>
    


<div class="carousel">
      <div class="carousel-text">
        <p>La Cucina Italiana</p>
        <h1>Mamma Mia, à table !</h1>
        <h3>
          Que ce soit pour une pizza en famille ou un dîner romantique, trouvez
          l’adresse parfaite.
        </h3>

        <div class="buttons">
          <button [routerLink]="['/restaurants/italien']">VOIR PLUS</button>
          <button>S'INSCRIRE</button>
        </div>
      </div>

      <img src="assets/Images/1.jpg" class="active" alt="Image 1" />
      <img src="assets/Images/img1.jpg" alt="Image 2" />
      <img src="assets/Images/img2.jpg" alt="Image 3" />
      <img src="assets/Images/img4.jpg" alt="Image 4" />
    </div>

</body>